.container {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.child:nth-child(1){
    order: 10;
}
.child:nth-child(4){
    order: 11;
}
.child:nth-child(5){
    order: 12;
}
